.env
*/.env
*/*/.env
*/*/*/.env
*/*/*/*/.env
*/*.pyc
data/*
exp/*
*/exp/*
*/*/exp/*
*/*/*/exp/*
*/*/*/exp/*
*/*/*/*/exp/*
*/*/*/*/*/exp/*
*/*/*/*/*/*/exp/*
*/*/*/*/*/*/*/exp/*
*/*/*/*/*/*/*/*/exp/*
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
models/*
*/unsloth_compiled_cache/
*/*/unsloth_compiled_cache/
*/*/*/unsloth_compiled_cache/
*/*/*/*/unsloth_compiled_cache/
*/*/*/*/*/unsloth_compiled_cache/
*/*/*/*/*/*/unsloth_compiled_cache/
*/*/*/*/*/*/*/unsloth_compiled_cache/
*/*/*/*/*/*/*/*/unsloth_compiled_cache/